.divHeader{
  width:  var(--widthMain);
  height: 14.82vw;
  padding: 1.19vw;
  margin: auto;
}
.header{
  width: auto;
  height: 16.36vw;
  background-image: url("https://i.pinimg.com/originals/07/df/40/07df40e7af2ec99e95d3c6eb073526b5.jpg");
  border: 0.2vw solid  #fff; /*Borde del botón*/
  background-position: left;   /*Posición de la imagen dentro del header*/
  border-radius: var(--radius); /*Curvatura en las esquinas de la clase css*/
  background-repeat: repeat;  /*Repetir la imagen*/   
}
.textHeader{
  width: var(--widthMain);
  margin: auto;
  font-family: 'Poppins';
  -webkit-text-stroke: 0.04vw #fff;   /* Color y grosor del borde de la letra */
  font-size: 3.85vw;  /*Tamaño de la fuente de la letra*/
  color: #ffff00;
  font-weight: bold;
  text-shadow: 0.23vw 0.23vw 0.23vw rgb(0, 0, 0); 
  text-align: center;  /*Ubicación del texto*/
  position: relative;
}
