/* Posición de los cuadros dentro del div */
.positionCuadroGral4{
    display: inline-flex;
    align-items: center;    /* Ubicación vertical */
}
/* Posición de los botones dentro del div */
.justifyButton4{    
    justify-content: center;    /* Centrar Horizontalmente */
  }