.divSecc3A{     /* DIV del cuadro2 */
    width: 32.61vw;
    border-radius: var(--radius);
    background-color: #fff;
    border: var(--borderSecundary) solid #2df737;  
}
.textCuadrosSecc3{
    width: 30.24vw;
    margin: 1em;  
    font-family: 'Poppins';
    color: #000000;
    font-size: 1.1vw;  /*Tamaño de la fuente de la letra*/
    text-align: justify;  /*Justificar texto del parrafo*/  
}
.divSecc3B{         /* DIV del cuadro2 (flotante) */
    width: 32.61vw;
    border-radius: var(--radius);
    background-color: #fff;
    border: var(--borderSecundary) solid #2df737;  
    float: right;
    top: 0;
}
.mostarButtonsC{       /* DIV de los dos botones (1) y (2) */
    width: 75vw;
    height: 10vh;
    display: inline-flex;
}
.divButtonC1{       /* DIV del boton (1) */
    width: 50vw;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}
.c1{
    font-size: 3.91vw; 
    color: #000C66;
    font-weight: bold;
    background-color: #fff;
    border-radius: var(--radius);
    border: var(--borderSecundary) solid #ffff00;
    cursor: pointer;
}
.divButtonC2{       /* DIV del boton (2) */
    width: 50vw;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}
.c2{
    font-size: 3.91vw; 
    color: #000C66;
    font-weight: bold;
    background-color: #fff;
    border-radius: var(--radius);
    border: var(--borderSecundary) solid #ffff00;
    cursor: pointer;
    float: right;
}
.cuadroC{       /* DIV de los dos cuadros de texto */
    width: 74.2vw;
    display: inline-flex;
}
.cuadroC1{
    width: 36.6vw;
    height: auto;
    margin: 1.5vw;      /* Margen entre el boton (1) y el cuadro1 */
    display: flex;
    align-items: center;
    justify-content: center;
}
.cuadroC2{
    width: 36.6vw;
    height: auto;
    margin: 1.5vw;      /* Margen entre el boton (2) y el cuadro2 */
    display: flex;
    align-items: center;
    justify-content: center;
}
/* The container */
.container {
    width: auto;
    display: block;
    position: relative;
    padding-left: 2.6vw;
    margin-bottom: 0.9vw;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Hide the browser's default radio button */
.container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

/* Create a custom radio button */
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 1.85vw;
    width: 1.85vw;
    background-color: #637564;
    border-radius: 50%;
}

/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
    background-color: rgb(22, 0, 102); 
}

/* When the radio button is checked, add a green background */
.container input:checked ~ .checkmark {
    background-color: #2df737;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the indicator (dot/circle) when checked */
.container input:checked ~ .checkmark:after {
    display: block;
}

/* Style the indicator (dot/circle) */
.container .checkmark:after {
    top: 0.66vw;
    left: 0.66vw;
    width: 0.6vw;
    height: 0.6vw;
    border-radius: 50%;
    background: white;
}

.divbuttonAnswer{
    margin-right: 1.5vw;
}
.buttonAnswer{
    background-color: #ffff00;
    color: #000C66;
    font-weight: bold;
    border: 0.2vw solid  #000;  /*Borde del los botones de navgación*/
    font-size: 1.1vw;  /*Tamaño de letra*/
    font-family: 'Poppins';
    border-radius: 0.6vw;
    cursor: pointer;
    float: right;
}