.divSeccOneA{
  width: 35.58vw;  
  border-radius: var(--radius);
  background-color: #fff;
  border: var(--borderSecundary) solid #2df737;  
}
.tittleSeccOneA{
  font-family: Times New Roman;
  color: #0000A3;
  font-size: 1.78vw;  /*Tamaño de la fuente de la letra*/
  text-align: center;  /*Ubicación del texto*/
}
.textSeccOneA{
  width: 33.2vw;
  margin: 1em;  
  font-family: 'Poppins';
  color: #000000;
  font-size: 1.1vw;  /*Tamaño de la fuente de la letra*/
  text-align: justify;  /*Justificar texto del parrafo*/  
}
.divSeccOneB{
  width: 32.61vw;
  border-radius: var(--radius);
  background-color: #fff;
  border: var(--borderSecundary) solid #2df737;  
  float: right;
  top: 0;
}
.textSeccOneB{
  width: 30.24vw;
  margin: 1em;  
  font-family: 'Poppins';
  color: #000000;
  font-size: 1.1vw;  /*Tamaño de la fuente de la letra*/
  text-align: justify;  /*Justificar texto del parrafo*/  
}
.videoOne{
  width: 75vw;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}