.justifyButton5{    
    justify-content: center;    /* Centrar Horizontalmente */
}
.justify5A{
    display: flex;    
    justify-content: center;    /* Centrar Horizontalmente */
    text-align: center;
}
.justify5B{
    display: flex;    
    justify-content: left;    /* Centrar Horizontalmente */
    margin-left: 5vw;
}
.justifyButton5B{  
    justify-content: center;    /* Centrar Horizontalmente */
}
.paddingA{
  padding-left: 12vw;
}
.button5C{    
    width: var(--widthMain);
    height: auto;
    display: flex;
    justify-content: center;    /* Centrar Horizontalmente */
}
.mostrarButtons5{      
    width: 75.4vw;
    height: auto;
    display: flexbox;   /* Centrar horizontalmente y equidistantes los eementos del div */      
}
.divButtonGral5{      
    width: 75vw;
    height: auto;
    display: flexbox;  
}
.cuadroIn5A{
    width: 75vw;
    height: auto;
    display: flex;  
  }
.cuadro5A{
    width: auto;
    height: auto;
    display: flex;   
  }
/* DIV de los dos cuadros de texto */
.cuadroGral5{       
    width: auto;
    display: flex;      /* Centra el cuadro de texto dentro del div */
    justify-content: center;    /* Ubicación horizontalmente */
  }
  .paddCuadro5{     
    margin: 1vw;
  }
  .widthVideo5{
    width: 30vw;
    height: 30vh;
  }