:root{
  --widthMain: 75.9vw;   /* Ancho Principal */
  --radius: 3vw;    /* curvatura del los boredes generales */
  --borderMain: 0.3vw;    /* Ancho de bordes en titulos y botones "V" */
  --borderSecundary: 0.25vw;    /* Ancho de bordes en secciones "V" */
}
.divMain{
  width: auto;
  height: auto;
  margin: auto;
  background-image: url("http://wallpapercave.com/wp/1bgDnHz.jpg");
  background-repeat: repeat; 
}
.divPreMain{
  width: 80vw;
  height: auto;
  margin: auto;
  background-color: #050A30;
  border: 0.15vw solid  #1100ff;
  border-radius: var(--radius);
}
.containerSecc{  
  width: var(--widthMain);
  margin:0 auto 0 auto;
  display: flexbox;
  align-items:stretch;
}
.divSecc{
  width: var(--widthMain);
  height: 10vw;
  border-radius: var(--radius);
  display: flex;    /* Botón y titulo  */
  align-items: center;    /* Botón y titulo  */
  justify-content: flex-end;   /* Botón y titulo  */
  position: center;   /* Botón y titulo  */
}
.positionTittle{
  display: contents;    /* Posición titulo */
}
.textDiv{
  width: 38.5vw;  
  font-family: Times New Roman;
  color:#000C66;
  font-size: 2.07vw;  /*Tamaño de la fuente de la letra flecha*/
  font-weight: bold;
  padding: 0.89vw;
  text-align: center;  /*Ubicación del texto flecha*/
  background-color: #04F9F2;
  border-radius: var(--radius);
  border: var(--borderMain) solid  #00ff0d; /*Borde del botón flecha*/  
  cursor: pointer;
}
.textDiv:hover{
  background-color: white; 
  border: var(--borderMain) solid #04F9F2;
  box-shadow: 0 0.711vw 0.948vw 0 rgba(202, 255, 8, 0.24), 0 1vw var(--radius) 0 rgba(0,0,0,0.19);
}
.asideButton {
  width: 4.15vw;    /*Distancia con relación al margen izquierdo*/
  height: 4.15vw;
  float:  right; 
  top: 0;
  display: contents;    /* Posición botón flecha */
}
.buttonMostrar{   
  height: 3.56vw;
  width: 3.56vw;
  font-size: 3.91vw; 
  color: #000C66;
  font-weight: bold;
  background-color: #00ff0d; 
  border: var(--borderMain) solid  rgb(255, 255, 255); /*Borde del botón*/
  font-size: 0.949vw;  /*Tamaño de letra*/
  border-radius: 5vw;  
  cursor: pointer; /*Animación al pasar el cursor sobre el botón*/
}
.buttonMostrar:hover{
  background-color: white; 
  border: var(--borderMain) solid #1100ff;
  box-shadow: 0 0.711vw 0.948vw 0 rgba(202, 255, 8, 0.24), 0 1vw var(--radius) 0 rgba(0,0,0,0.19);
}
html{
  scroll-behavior: smooth;    /*Disminuye la velocidad en la que se ejecuta el evento de ir a una sección específica de la página*/
}
section{
  scroll-margin-top: 4.74vw;    /*Margen entre cada sección y el apartado de navegación*/
}
a{
  text-decoration: none;    /*Quita el subrayado del hipervínculo*/
  color: #000C66;
  font-weight: bold;
}
a:hover{
  color: black;  
}
footer {
  border-radius: var(--radius);
  background-color: #091464;
  text-align: center;  /* Ubicación del texto*/
  border: 0.1vw solid  #fff;
  font-size: 0.5vw;
  font-family: Times New Roman;
  font-weight: bold;
  color: #00ff0d;
}
.tabulacion{
  display:inline;
  white-space:pre;
}
.divMostrar{
  display: none;
}
.divMostrarA{
  display: center;
  align-items: center;
  justify-content: center;
}
.divMostrarB{
  display: center;
  align-items: center;
  justify-content: center;
}
.divMostrarC{
  display: center;
  align-items: center;
  justify-content: center;
}
.divMostrarD{
  display: center;
  align-items: center;
  justify-content: center;
}
.divMostrarE{
  display: center;
  align-items: center;
  justify-content: center;
}
.divMostrarF{
  display: center;
  align-items: center;
  justify-content: center;
}
.divMostrarG{
  display: center;
  align-items: center;
  justify-content: center;
}
.divMostrarH{
  display: center;
  align-items: center;
  justify-content: center;
}
.divMostrarI{
  display: center;
  align-items: center;
  justify-content: center;
}
.divMostrarJ{
  display: center;
  align-items: center;
  justify-content: center;
}
.divMostrarK{
  display: center;
  align-items: center;
  justify-content: center;
}